#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  padding: 30px;
  background-color: floralwhite;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.btn-submit {
  margin-top: 20px;
}

.btn-done {
  margin-right: 10px;
  margin-top: 10px;
}

.btn-cancel {
  margin-right: 10px;
  margin-top: 10px;
}